@model OdeToFood.Models.RestaurantReview

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center py-4">Details</h2>

<div class="text-center">
    <h4>@Model.RestaurantName.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewerName)
        </dd>
        
    </dl>
</div>
    <p class="text-center">
    @Html.ActionLink("Back to List", "Index", new { id = Model.RestaurantId }, new { @class = "btn btn-success" })
    <!--These options only display if the entry belongs to the user-->
    @if (Model.ReviewerName == User.Identity.Name)
    {


        <a href="@Url.Action("Edit", "Restaurant", new { id = Model.Id })" class="btn btn-warning">Edit</a>
        <a href="@Url.Action("Delete", "Restaurant", new { id = Model.Id })" class="btn btn-danger">Delete</a>
    
    }
   </p>