@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

@*<form method="get" action="@Url.Action("Index")"
          data-otf-ajax ="true" data-otf-target="#restaurantList"><!--By using this get method, the search is being put into the query string. Becaue we are searching, a get request is fine. If we were submitting and saving data, then a post request would be needed.-->

        <input type="search" name="searchTerm" data-otf-autocomplete ="@Url.Action("AutoComplete")"/>
        <input type="submit" value="Search By Name" />
    </form>*@



<div class="wrapper">


    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid bg-success text-white">
        <div class="container text-sm-center pt-5">
            <h1 class="display-2">Vegan World</h1>
            <p class="lead">Ireland's Guide to Vegan Options</p>
            <div class="btn-group mt-2" role="group" aria-label="Basic example">
                @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">Register Now</button>*@
                @*<a class="btn btn-secondary btn-lg" href="#speakers">See Speakers</a>*@
                <a href="@Url.Action("Index", "Restaurant")" class="btn btn-primary btn-lg"> Restaurants</a>
                <a href="@Url.Action("Landing", "Recipes")" class="btn btn-secondary btn-lg">Recipes</a>
            </div>
        </div>
    </div>
    <!-- /Jumbotron-->

    <div class="pt-4 pl-5">
        <h1 class="my-5 text-muted display-4 text-center">Welcome</h1>
        <p>
            Welcome to the Irish Vegan. As any Irish vegan knows, it can be extremely difficult to find what you are looking for.<br /> This website
            hopes to help you by highlighting the options that do exist. We have plenty of restauants and recipes for you to check out so go
            ahead and get started by clicking on the links above.
        </p>
    </div>

    <div class="container pt-5">

        <!--Explore-->
        <h1 id="explore" class="display-4 text-center my-5 text-muted">Explore</h1><!--my-5 means margin padding on the y-axis (top and bottom)-->
        <!--In the below grid, each column spans the width of 6 columns. Since there is only space for 12 columns per line, this will force the layout to only have 2 columns per line. Thus, it will cause our layout to have 3 lines each with two columns (i.e. two pictures per line) In the large format each column spans 4 columns so therefore there will be 3 columns per line-->
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="~/images/restaurant.jpg" alt="Card image cap"><!--img-fluid allows the image to scale with its column. Otherwise, the original size of the image may burst out of the card container-->
                    <div class="card-block">
                        <h4 class="card-title  text-center"><a href="@Url.Action("Top", "Restaurant")" class="btn btn-primary btn-lg"> Top 5 Restaurants</a></h4>
                        <p class="card-text">Click here to see the top 5 rated restaurants in Ireland.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="~/images/Dublin2.jpeg" alt="Card image cap"><!--img-fluid allows the image to scale with its column-->
                    <div class="card-block">
                        <h4 class="card-title text-center"><a href="@Url.Action("County", "Restaurant")" class="btn btn-primary btn-lg"> Dublin Restaurants</a></h4>
                        <p class="card-text">Dublin is home to the majority of vegan stores and restaurants.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="~/images/Reviews2.jpg" alt="Card image cap"><!--img-fluid allows the image to scale with its column-->
                    <div class="card-block">
                        <h4 class="card-title  text-center"><a href="@Url.Action("BestReviews", "Reviews")" class="btn btn-primary btn-lg">10 Star Reviews</a></h4>
                        <p class="card-text">Why not have a look at our 10 star restaurant reviews.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="~/images/Clock2.jpeg" alt="Card image cap"><!--img-fluid allows the image to scale with its column-->
                    <div class="card-block">
                        <h4 class="card-title  text-center"><a href="@Url.Action("Time", "Recipes")" class="btn btn-primary btn-lg">Quick and Easy Recipes</a></h4>
                        <p class="card-text">Only have 20 minutes? Then try these quick and easy recipes.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="~/images/Gluten2.jpeg" alt="Card image cap"><!--img-fluid allows the image to scale with its column-->
                    <div class="card-block">
                        <h4 class="card-title text-center"><a href="@Url.Action("GlutenFree", "Recipes")" class="btn btn-primary btn-lg">Gluten Free Recipes</a></h4>
                        <p class="card-text">Have you gone Gluten Free? Then we've got you covered.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img class="card-img-top img-fluid" src="~/images/Smoothie.jpeg" alt="Card image cap"><!--img-fluid allows the image to scale with its column-->
                    <div class="card-block">
                        <h4 class="card-title  text-center"><a href="@Url.Action("Smoothie", "Recipes")" class="btn btn-primary btn-lg">Delicious Smoothies</a></h4>
                        <p class="card-text">A selection of refreshing Smoothies that are sure to satisfy your tastebuds.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Speakers-->

    </div>  <!--/Container-->
</div>






















@*<section>

        <div class="image">
            <img src="~/Images/Vegan Image.png" width="100%" height="320" alt="Vegan Image" />
        </div>



        <div class="left">

        </div><!--end of left-->


        <a>
            <div class="right">

                <!--<img src="images/envelope.jpg" width="30%" height="80" alt="envelope">-->
                <div><i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i></div>

            </div>
        </a><!--end of right class-->


    </section>*@






@*@using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "restaurantList"
                }))
    {
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
    }*@

@*@Html.Partial("_Restaurants", Model)*@








@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@